
  /* a {
    text-decoration: none;
  }
   */
  .logincard {
    font-family: sans-serif;
    /* height: 100vh; */
    width:450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    margin-bottom:3em;
    border-radius: 10px;
    background-color: #2a2a30;
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  #title {
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0;
  }
  #subtitle {
    text-align: center;
    margin-top: 10px;
    
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
  }
  #subtitle a{
      padding-left: 5px;
    color: rgb(69, 69, 185);
  }

  .btn-text {
    margin: 0;
  }

  .login-logo-box{
    padding:40px 0px;
  }
  
  .login-logo{
    width:200px;
  }
  
  .or {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    /* line-height: 0.1em; */
    margin: 10px 0px;
  }
  .or span {
    padding: 0 10px;
  }
  
  #email-login {
    display: flex;
    flex-direction: column;
  }
  #email-login label {
    color: white;
  }
  
  #emailId{
    padding: 15px 20px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
  }
  #emailId::placeholder{
      color: #ccc;
      font-weight:300;

  }
  .cta-btn {
    background-color: rgb(69, 69, 185);
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
  }
 
  .forget-pass {
    text-align: center;
    display: block;
  }
  
  .spinner-border {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    border: 1px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 1s linear infinite spinner-border;
    animation: 1s linear infinite spinner-border;
}

  @media only screen and (max-width: 600px) { 
    .logincard {
      font-family: sans-serif;
      /* height: 100vh; */
      width:90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15vh;
      margin-bottom:3em;
      border-radius: 10px;
      background-color: #2a2a30;
      padding: 1.8rem;
      box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    }
    
    #title {
      text-align: center;
      font-weight: bold;
      color: white;
      margin: 0;
    }
    #subtitle {
      text-align: center;
      margin-top: 10px;
      
      color: rgb(255, 255, 255);
      font-size: 15px;
      font-weight: bold;
    }
    #subtitle a{
        padding-left: 5px;
      color: rgb(69, 69, 185);
    }
  
    .btn-text {
      margin: 0;
    }
  
    .login-logo-box{
      padding:40px 0px;
    }
    
    .login-logo{
      width:200px;
    }
    
    .or {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      /* line-height: 0.1em; */
      margin: 10px 0px;
    }
    .or span {
     
      padding: 0 10px;
    }
    
    #email-login {
      display: flex;
      flex-direction: column;
    }
    #email-login label {
      color: white;
    }
    
    #emailId{
      padding: 15px 20px;
      height: 40px;
      margin-top: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
      outline: none;
    }
    #emailId::placeholder{
        color: #ccc;
        font-weight:300;
  
    }
    .cta-btn {
      background-color: rgb(69, 69, 185);
      color: white;
      padding: 10px 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      border-radius: 10px;
      border: none;
    }
   
    .forget-pass {
      text-align: center;
      display: block;
    }
    
  }
